body{
    text-align: center;
    width: 960px;
    height: ;
    color: #777777;
    background: ;
    padding: ;
    border: ;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

header{
    background: #ffffff;
}

footer{
    background: #666666;
    color: #ffffff
}

img{
    float: left;
    content:200x200;
}

h1{
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
}

h2{

}

a{
    color: blue;
}

a:hover{
    color: red
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    width: ;
    margin: ;
}