body{
    text-align: center;
    width: 960px;
    height: ;
    color: #777777;
    background: ;
    padding: ;
    border: ;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: auto;
}

header{
    background: #ffffff;
    padding: 50px;
}

footer{
    background: #666666;
    padding: 25px;
    border-style: solid;
    border-width: 5px;
    border-top-color: #4aaaa5;
    color: #ffffff;
}

img{
    float: left;
    content:200x200;
}

h1{
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 24px;
}

h2{
    color: #4aaaa5;

}

h3{
    background: #4aaaa5;
}

nav{
    font-size: 14px;
    float: right;
}

a{
    color: rgb(71, 71, 80);
}

a:hover{
    color: rgb(34, 31, 31)
}

section{
    width: 500px;
}

.container{
    position: relative;
    background-color: #ffffff;
    border-top-color: #dddddd;
    border-width: 5px;
    width: ;
    margin: ;
}

.aside{
    position: absolute;
    top: 0;
    right: 0;
    margin: ;
    border: ;
    padding:  ;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}